# Folders
.vscode/*
*submission-documents/
.venv
LLM-output/figures


# user settings
.*DS_Store/*
.DS_Store
.Rproj.user
*.Rproj

# file types
*.pdf
*.html
*.csv
.RData
.Rhistory
*.tex
*.aux
*.log
*.synctex*
*.css
*.xlsx
*.doc*
*.ppt*
*.dfc*
*.svg
*.ipynb

## latex specific files
*.fdb_latexmk
*.aux
*.log
*.synctex.gz
*.bbl
*.fls
*.toc
*.xdv
*.blg

# cached files

BE-notes.md
LLM-output/claude-all.R
LLM-output/chatgpt-all.R
